@use 'modules/generator';

// Default variables
$space          : 1em;
$body-min-space : 1.5rem;
$body-max-space : 4rem;
$measure        : 55ch;


// Screen breakpoints
//$width-xxs      : map-get(generator.$breakpoints, 'xxs');
$width-xs       : map-get(generator.$breakpoints, 'xs');
$width-sm       : map-get(generator.$breakpoints, 'sm');
$width-md       : map-get(generator.$breakpoints, 'md');
$width-lg       : map-get(generator.$breakpoints, 'lg');
$width-xl       : map-get(generator.$breakpoints, 'xl');
$width-xxl      : map-get(generator.$breakpoints, 'xxl');