
.btn {
	--_fg                  : var(--bg, var(--clr-neutral-1, #FFFFFF));
	--_bg                  : var(--fg, var(--clr-neutral-5, #000000));
	--_transition-duration : 150ms;
	--_transition-timing   : ease-out;
	--outline-fg           : var(--_bg);

	position               : relative;
	cursor                 : pointer;
	display                : inline-flex;
	gap                    : 1ch;
	align-items            : center;
	justify-content        : center;
	padding                : 1.15em 2.25em;
	font-size              : var(--fs-1);
	font-weight            : var(--fw-bold);
	line-height            : var(--line-height-1);
	letter-spacing         : 0.1em;
	text-transform         : uppercase;
	border                 : none;
	color                  : var(--_fg);
	background-color       : var(--_bg);
	transition             : opacity var(--_transition-duration) var(--_transition-timing);

	@media (hover : hover) {
		&:where(:hover, :focus-visible) {
			opacity : 0.7;
		}
	}

	&:where(&:has(.icon):not(:only-child)) {
		justify-content : space-between;
	}

	.icon {
		inline-size : var(--_icon-size);
		block-size  : var(--_icon-size);
	}
}

:is([data-type='link'], [data-type='hamburger'], [data-type='icon']).btn {
	--_fg        : var(--fg, var(--clr-neutral-1, #000000));
	--_bg        : transparent;
	--outline-fg : var(--_fg);
	padding      : 0;
}

:is([data-type='icon'], [data-type='hamburger']).btn {
	min-inline-size : 2rem;
	aspect-ratio    : 1;
}

[data-type='link'].btn {
	--_icon-size : 2.25em;

	&::before {
		content          : '';
		position         : absolute;
		inset            : auto auto 0 0;
		inline-size      : 100%;
		block-size       : 0.9px; // 0.9px because fixes a bug when transition is finished border gets thicker
		background-color : var(--_fg);
		transform-origin : right;
		transform        : scaleX(0);
		transition       : transform calc(var(--_transition-duration) * 2) ease-in-out;
	}

	@media (hover : hover) {
		&:where(:hover, :focus-visible) {
			opacity: 1;
		}
		&:where(:hover, :focus-visible)::before {
			transform-origin : left;
			transform        : scaleX(1);
		}
	}
}

[data-type='hamburger'].btn {
	--_icon-size : 2.25em;
}
